* {
  box-sizing: border-box;
}

body {
  background-color: lightslategrey;
  font-family: "Calibri";
}

.main {
  background: lightsteelblue;
}

.home-description {
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  font-family: Tahoma;
  padding-bottom: 25px;
  padding-top: 15px;
  line-height: 20px;
}


